{% extends 'main/week.html' %}

{% block weekNum_title %}5{% endblock %}
{% block weekNum_navbar %}5{% endblock %}
{% block weekNum_awards %}5{% endblock %}
{% block weekNum_activity %}5{% endblock %}

{% block powerRankings_change %}
{% for score_prev, team_prev in power_rankings_previousWeek %}
    {% if team.team_name == team_prev.team_name %}
        {% if score > score_prev %}
            ↑
        {% elif score < score_prev %}
            ↓
        {% else %}
            -
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock %}

{% block navbar_prevWeek_href %}4{% endblock %}
{% block navbar_prevWeek_text %}4{% endblock %}
{% block navbar_nextWeek_href %}6{% endblock %}
{% block navbar_nextWeek_text %}6{% endblock %}
